
html, body/* , main */ {
	/*width: 100%;*/
	/*height: 100%;*/
}

body {
	/*padding: 0;*/
    /*margin: 0;*/
}

body.container-fluid {
	margin-left: 15px;
	margin-right: 15px;
	background-color: #dcdcdc;
}

header {
	height: 150px;
	margin-bottom: 20px;
}

header.row {
	background-color: white;
}




footer {
	margin-top: 15px;
	background-color: white;
	padding: 15px;
	/*height: 150px;*/
}

main {

}

aside {
	width: calc(25% - 15px) !important;
	background-color: white;
}


form input[required],
form select[required],
form textarea[required] {
	border-left: 2px solid red;
}


.m0 {
	margin: 0;
}

.p0 {
	padding: 0;
}

.bg-gray {
	background-color: gainsboro;
}
